@use "../abstracts/index" as *;
.button {
    background-color: $first-color;
    color: $first-color-lighten;
    @extend .borderOutline;
    padding: 1.1rem 1.8rem;
    font-size: 1.8rem;
    letter-spacing: 1px;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s; /*300ms */
}

.popular-btn {
    background-color: $body-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid $text-color;
    transition: background-color 0.3s; /*300ms */
    &:active {
        border: none;
        background-color: hsl(228, 24%, 97%);
        padding: 0.6rem;
    }
}

.flow {
    position: relative;
}
.up__button {
    position: absolute;
    right: 6rem;
    bottom: 8rem;
    background-color: $body-color;
    @extend .borderOutline;
    padding: 1.1rem 1.3rem;
    font-size: 1.8rem;
    letter-spacing: 1px;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s; /*300ms */
    box-shadow: 0 12px 16px hsla(288, 66%, 45%, 0.1);
}
